body {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0,170,238);
    background: linear-gradient(90deg, rgba(0,170,238,1) 10%, rgba(0,172,94,1) 90%);
    position: relative;
    padding-bottom: 12em;
}

section .que {
    display: block;
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 2%;
    padding: 2%;
    max-width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #f3c300;
    border-width: 8px;
    border-style: inset;
}

section .que h2, h3 {
    margin-top: -1%;
    text-align: center;
}

section .que p {
    margin-top: 3%;
    text-align: justify;
}

section .capsgeneral {
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 5%;
    padding: 2%;
    max-width: 80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #f3c300;
    border-width: 8px;
    border-style: outset;
}

section .capsgeneral ul h4 {
    font-size: 25px;
}

section .capsgeneral ul li {
    margin-top: 2%;
}

ul.acorh,
ul.acorh * {
margin: 0;
padding: 0;
border: 0;
}
ul.acorh {
margin: 10px auto;
padding: 2%;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.acorh li {
list-style: none;
width: 100%;
}
ul.acorh li a {
display: block;
width: 100%;
padding: 10px 10px 10px 20px;
background: linear-gradient(90deg, #9f7f00 10%, #f3c300 90%);
color: rgb(255, 255, 255);
border-bottom: 1px solid #000;
border-top: 1px solid #666;
text-decoration: none;
box-sizing: border-box;
border-radius: 8px;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: 0.3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 10px;
background: #f37c1a;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
width: 14.6%;
text-align: center;
}
ul.acorc li li:last-child a {
border-bottom: 0;
}
ul.acorc li:hover ul,
ul.acorh li:target ul {
max-height: 650px;
transition: .3s all ease-in;
}
ul.acorh li a:hover {
background: #9f7f00;
color: #fff;
}

.capsgeneral .acorh li ul li {
    color: #000;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #24252aa8;
    padding: 1em;
    bottom: 0;
}

#insta, #face, #tweeter {
    width: 50px;
    height: auto;
    box-sizing: border-box;
}

.sociales {
    margin-left: 87%;
}

.copy {
    color: #fff;
    font-size:  13px;
    box-sizing: border-box;
    z-index: 999;
}

footer p {
    color: rgba(0, 0, 0, 0);
}

@media all and (max-width: 480px) {
    ul.acorh li li a {
        width: 56%;
    }

    .que {
        max-width: 340px;
        min-width: 340px;
    }

    ul.acorc li:hover ul,
    ul.acorh li:target ul {
    max-height: 700px;
    transition: .3s all ease-in;
    }

    .capsgeneral {
        margin-bottom: 280px;
    }

    body {
        padding-bottom: 0.5em;
    }

    footer {
        bottom: 60px;
    }
}