@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    margin-top: 1px;
}

.bubble {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble2 {  
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    right: 0;
    margin-left: 22.5em;
    color: #0e0e0e;
}
.bubble2:after {
    content: "";
    position: absolute;
   top: 100%;
   right: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble3 {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble3:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble4 {  
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    right: 0;
    margin-left: 22.5em;
    color: #0e0e0e;
}
.bubble4:after {
    content: "";
    position: absolute;
   top: 100%;
   right: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble5 {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 400px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble5:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble5 img {
    width: auto;
    height: 200px;
}

.bubble, .bubble2, .bubble3, .bubble4, .bubble5 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
}

@media all and (max-width: 480px) {


    h1 {
        margin-top: 1px;
        font-size: 1.2em;
    }

    p {
        margin-top: 8px;
        font-size: 0.85rem;
    }
    
    .bubble {
        margin: 50px;
        padding: 20px;
        position: relative;
        border-radius: 8px;
        width: 344px;
        left: 0;
        margin-left: 1em;
        color: #f9efff;
    }
    .bubble:after {
        content: "";
        position: absolute;
       top: 100%;
       left: 20px;
       border-top: 20px solid blue;
       border-top-color: inherit;
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    
    .bubble2 {  
        margin: 50px;
        padding: 20px;
        position: relative;
        border-radius: 8px 8px 8px 8px;
        width: 344px;
        right: 0;
        margin-left: 1em;
        color: #0e0e0e;
    }
    .bubble2:after {
        content: "";
        position: absolute;
       top: 100%;
       right: 20px;
       border-top: 20px solid blue;
       border-top-color: inherit;
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    
    .bubble3 {
        margin: 50px;
        padding: 20px;
        position: relative;
        border-radius: 8px 8px 8px 8px;
        width: 344px;
        left: 0;
        margin-left: 1em;
        color: #f9efff;
    }
    .bubble3:after {
        content: "";
        position: absolute;
       top: 100%;
       left: 20px;
       border-top: 20px solid blue;
       border-top-color: inherit;
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    
    .bubble4 {  
        margin: 50px;
        padding: 20px;
        position: relative;
        border-radius: 8px 8px 8px 8px;
        width: 344px;
        right: 0;
        margin-left: 1em;
        color: #0e0e0e;
    }
    .bubble4:after {
        content: "";
        position: absolute;
       top: 100%;
       right: 20px;
       border-top: 20px solid blue;
       border-top-color: inherit;
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    
    .bubble5 {
        margin: 50px;
        padding: 20px;
        position: relative;
        border-radius: 8px 8px 8px 8px;
        width: 280px;
        left: 0;
        margin-left: 1em;
        color: #f9efff;
    }
    .bubble5:after {
        content: "";
        position: absolute;
       top: 100%;
       left: 20px;
       border-top: 20px solid blue;
       border-top-color: inherit;
       border-left: 20px solid transparent;
       border-right: 20px solid transparent;
    }
    
    .bubble5 img {
        width: auto;
        height: 130px;
    }
    
    .bubble, .bubble2, .bubble3, .bubble4, .bubble5 {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
    }
}

section.class2 {
    text-align: center;
}

section.class2 .bb-title {
    position: relative;
    display: inline-block;
    font-size: 70px;
    color: #18202d;
}

section.class2 .bb-title::before {
   content: '';
   position: absolute;
   background-color: red;
   width: 100%;
   height: 3px;
   bottom: -5px;
   left: 0;
   right: 0;
}

section.class2 .organigrama img, section .flujograma img {
    margin-top: 50px;
    height: auto;
    width: 1100px;
    border-radius: 8px;
    border-color: #0c5adb;
    border-width: 8px;
    border-style: outset;
}

@media all and (max-width: 480px) {
    section.class2 {
        text-align: center;
    }
    
    section.class2 .bb-title {
        position: relative;
        display: inline-block;
        font-size: 30px;
        color: #18202d;
    }
    
    section.class2 .bb-title::before {
       content: '';
       position: absolute;
       background-color: red;
       width: 100%;
       height: 3px;
       bottom: -5px;
       left: 0;
       right: 0;
    }
    
    section.class2 .organigrama img, section .flujograma img {
        margin-top: 50px;
        height: auto;
        width: 370px;
        border-radius: 8px;
        border-color: #0c5adb;
        border-width: 8px;
        border-style: outset;
    }
}