@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

h1 {
    margin-top: 1px;
}

.bubble {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble2 {  
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    right: 0;
    margin-left: 22.5em;
    color: #0e0e0e;
}
.bubble2:after {
    content: "";
    position: absolute;
   top: 100%;
   right: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble3 {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble3:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble4 {  
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 700px;
    right: 0;
    margin-left: 22.5em;
    color: #0e0e0e;
}
.bubble4:after {
    content: "";
    position: absolute;
   top: 100%;
   right: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble5 {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 400px;
    left: 0;
    margin-left: 13.5em;
    color: #f9efff;
}
.bubble5:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid blue;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.bubble5 img {
    display: flex;
    width: auto;
    height: 220px;
}

.bubble, .bubble2, .bubble3, .bubble4, .bubble5 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
}