@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(0,170,238);
    background: linear-gradient(90deg, rgba(0,170,238,1) 10%, rgba(0,172,94,1) 90%);
}

nav {
    background: #24252a71;
    height: 80px;
    width: 100%;
}

header nav label img {
    color: white;
    width: auto;
    height: 70px;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    margin: 4px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;   
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 8px;
}

a.active, a:hover{
    background: rgba(0, 136, 169, 1);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media (max-width: 952px) {
    label .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #24252a71;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;    
    }

    a:hover, a.active {
        background: none;
        color: rgba(0, 136, 169, 1);
    }

    #check:checked ~ ul {
        left: 0;
    }
}