body {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0,170,238);
    background: linear-gradient(90deg, rgba(0,170,238,1) 10%, rgba(0,172,94,1) 90%);
    margin: 0;
}

input {
    width: 0;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #24252a71;
}

.logo {
    cursor: pointer;
    height: 70px;
    width: auto;
}

.nav__links {
    list-style: none;
}

.nav__links, li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #6ea3b1;
}

button {
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #2f7adb;
}

li .active {
    background-color: rgba(0, 136, 169, 1);
    border-radius: 8px;
    padding: 8px;
}

li .active:hover {
    background-color: #edf0f1;
    color: #0088a9;
}

footer {
    position: absolute;
    width: 99.2%;
    background-color: #24252aa8;
    padding: 5px;
    bottom: auto;
    margin-top: 3em;
}

#insta, #face, #tweeter {
    width: 50px;
    height: auto;
    box-sizing: border-box;
}

.sociales {
    text-align: right;
    margin-right: 25px;
    margin-top: 5px;
}

@media all and (max-width: 700px) {
    body {
        padding-bottom: 12em;
    }

    .logo {
        width: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: #24252a71;
    }

    a {
        text-decoration: none;
        color: #1e1e23;
        opacity: 1;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
        margin-top: 25px;
        justify-content: left;
    }

    li .active {
        background-color: #ffffff00;
    }

    a:hover {
        opacity: 0.5;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .phone {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content {
        height: 100%;
        overflow: hidden;
        width: 150%;
    }

    nav {
        background-color: #1e1e236e;
        height: 65px;
        width: 150%;
    }
      
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
      
    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
      
    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
      
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
      
      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383f;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
      
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
      
    #menu {
        position: absolute;
        width: 180px;
        height: 400px;
        box-shadow: 0 0 10px #85888c;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #f5f6fa;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
      
    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
    }
      
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    footer {
        position: fixed;
        width: 100%;
        background-color: #24252aa8;
        padding: 5px;
        bottom: 1px;
    }
    
    #insta, #face, #tweeter {
        width: 50px;
        height: auto;
        box-sizing: border-box;
    }
    
    .sociales {
        text-align: right;
        margin-right: 25px;
        margin-top: 5px;
    }
}