body {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0,170,238);
    background: linear-gradient(90deg, rgba(0,170,238,1) 10%, rgba(0,172,94,1) 90%);
}

.central {
    display: block;
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 2%;
    padding: 2%;
    max-width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #f3c300;
    border-width: 8px;
    border-style: inset;
}

.central {
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
}

a {
    background-color: red;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
    border-color: rgb(196, 0, 0);
    border-width: 3px;
    border-style: solid;
}

@media all and (max-width: 480px) {
    .central {
        max-width: 70%;
        min-height: 69%;
        margin-top: 17%;
    }

    h1 {
        font-size: 30px;
    }

    .central a {
        margin-top: px;
        font-size: 16px;
    }
}